//switcher
.switcher__input {
  display: none;
}

.switcher__input:checked {
  + .switcher__label {
    color: lightblue;
    &:before {
      background-color: lightblue;
    }
    &:after {
      transform: translateX(23px);
    }
    &:active:before {
      background-color: #b4effa;
    }
    &:active:after {
      transform: translateX(12px);
    }
  }
}

.switcher__label {
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;

  font-size: 14px;
  color: #ccc;
  cursor: pointer;

  position: relative;

  transition: color 0.1s linear;
  &::before {
    content: '';
    display: block;
    width: 45px;
    height: 22px;

    background-color: #ccc;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background-color 0.1s linear;
  }
  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

    transition: transform 0.1s linear;
  }
  &:active::after {
    transform: translateX(12px);
  }
  &:active::before {
    background-color: #b4effa;
  }
}

.switcher__text {
  line-height: 22px;
}
