@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
}
#rootNode {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // height: 100vh;
  width: 100vw;
  color: lightblue;
  background-color: white;
  // position: relative;
  &.notScrollable {
    overflow: hidden;
  }
}
